<table style="max-width: 600px; padding: 10px; margin:0 auto; border-collapse: collapse">
    <tr>
		<td style="background-color: #ecf0f1; text-align: left; padding: 0">
			<a href="https://skynovels.net">
				<img width="5%" style="display:block; margin: 1.5% 3%" src="https://api.anovelsite.com/img/simbolo_azules.png">
			</a>
		</td>
	</tr>
	<tr>
		<td style="padding: 0">
			<img style="padding: 0; display: block" src="https://api.anovelsite.com/img/banner2.jpg" width="100%">
		</td>
	</tr>
	<tr>
		<td style="background-color: #ecf0f1">
			<div style="color: #34495e; margin: 4% 10% 2%;">
				<h2 style="color: #d32f2f;">¡Hola {{user}}!</h2>
				<p style="font-size: 15px">Muchas gracias por registrarte en Skynovels, solo queda confirmar tu registro</p>
				<p style="font-size: 15px">Para confirmar tu registro y activar tu usuario de Skynovels, pulsa en el siguiente botón:</p>
				<div style="width: 100%; text-align: center; margin: 35px 0px;">
					<a style="text-decoration: none; border-radius: 5px; padding: 11px 23px; color: black; background-color: #d32f2f;" href={{token}}>Activar usuario</a>	
				</div>
                <p style="font-size: 15px">Si quieres volver a leer el acuerdo de terminos y condiciones pulse <a href="https://skynovels.net">aquí</a></p>
				<p style="color: #b3b3b3; font-size: 12px; text-align: center;margin: 30px 0 0">©{{year}} SkyNovels</p>
			</div>
		</td>
	</tr>
</table>